# OS specific temporary files
.DS_Store*
ehthumbs.db
Thumbs.db
Icon?
*.kate-swp
.swp
.directory
.un~
._*

# IDE Files
.buildpath
.idea
.project
.settings
*.esproj
*.komodoproject
*.komodotools
nbproject

# Tools
.cvs
.svn
.git
.sass-cache

# Packages
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases
*.log
*.sql

# Composer
/vendor
/components
/web/core
/web/modules/README.txt
/web/modules/contrib
/web/themes/README.txt
/web/themes/contrib
/web/libraries/README.txt
/web/libraries
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/sites.php
/web/sites/default/default.settings.php

# Drupal
/web/sites/*/settings*.php
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/tmp
/web/sites/default/**/files
/web/sites/default/**/public
/web/sites/default/**/private
/web/sites/default/**/tmp

