# OS specific temporary files
.DS_Store*
ehthumbs.db
Thumbs.db
Icon?
*.kate-swp
.swp
.directory
.un~
._*

# IDE Files
.buildpath
.idea
.project
.settings
*.esproj
*.komodoproject
*.komodotools
nbproject

# Tools
.cvs
.svn
.git
.sass-cache

# Packages
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases
*.log
*.sql

# Composer
/vendor
/components
/web/core
/web/vendor
/web/modules/README.txt
/web/modules/contrib
/web/themes/README.txt
/web/themes/contrib
/web/libraries/README.txt
/web/libraries
/web/sites/README.txt
/web/sites/example.sites.php
/web/sites/example.settings.local.php
/web/sites/default/default.settings.php
/web/sites/default/default.services.yml
/web/sites/development.services.yml
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc
/web/.gitattributes
/web/.htaccess
/web/autoload.php
/web/composer.json
/web/composer.lock
/web/example.gitignore
/web/index.php
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config

# Drupal
/web/sites/*/settings*.php
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/tmp
/web/sites/default/**/files
/web/sites/default/**/public
/web/sites/default/**/private
/web/sites/default/**/tmp

